<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <a routerLink="/" routerLinkActive="active">

        <!-- Name Column -->
        <ng-container matColumnDef="idLocation">
            <th mat-header-cell *matHeaderCellDef> idLocation </th>
            <td mat-cell *matCellDef="let element"> {{element.locationId}} </td>
        </ng-container>
    </a>
        
    <!-- Comment Column -->
    <ng-container matColumnDef="nameLocation">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.nameLocation}} </td>
    </ng-container>
  
    <!-- Rating Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef> Longitude </th>
      <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
    </ng-container>
  
    <!-- Relative Time Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef> Latitude </th>
      <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
    </ng-container>

    <!-- Relative Time Column -->
    <ng-container matColumnDef="locationType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

    <!-- Relative Time Column -->
    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirect(row)" [ngClass]="'highlightTableColor'" class="highlightTableColor"></tr>
  </table>
