<div>
    <!-- <label>Enter address</label> -->
    <input
      type="text"
      class="my-search-box"
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Location"
      type="text"
      #search
    />
</div>
<google-map
    id=map
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (mapClick)="addMarker($event)"
> 
  <map-marker *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions"></map-marker>
</google-map>

<br>
<button mat-raised-button (click)="addReview()">Add review</button>

<button mat-raised-button (click)="addtoFavorites()" style="float: right">Add to favorites</button>
<div class="review" id="review">
  <input
    type="text"
    class="grade"
    placeholder="Grade"
    type="text"
  />
  <input
  type="text"
  class="comment"
  placeholder="Comemnt"
  type="text"
  />
  <input type="date" id="date"/>
</div>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="nameUser">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.nameUser}} </td>
  </ng-container>

  <!-- Comment Column -->
  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>

  <!-- Relative Time Column -->
  <ng-container matColumnDef="relativeTime">
    <th mat-header-cell *matHeaderCellDef> Relative Time </th>
    <td mat-cell *matCellDef="let element"> {{element.relativeTime}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


