<div>
    <!-- <label>Enter address</label> -->
    <input
      type="text"
      class="my-search-box"
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Location"
      type="text"
      #search
    />
</div>
<google-map
    id=map
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (mapClick)="addMarker($event)"
> 
  <map-marker *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions"></map-marker>
</google-map>

<br>
<button mat-raised-button (click)="addReview()">Add review</button>
<div class="review" id="review">
  <input
    type="text"
    class="grade"
    placeholder="Grade"
    type="text"
  />
  <input
  type="text"
  class="comment"
  placeholder="Comemnt"
  type="text"
  />
  <input type="date"/>
</div>


