<div class="app-container">
  <div class="logo">
    <a href="#"><h1>My City - My Places</h1></a>
  </div>
  <div class="nav-bar">
    <a class="nav-link" routerLink="/" routerLinkActive="active">
      <button mat-raised-button>
        Home
      </button>
    </a>
    <a class="nav-link" [routerLink]="logged ? '/' : '#'" routerLinkActive="active">
      <button mat-raised-button [disabled]="!logged">
        Map
      </button>
    </a>
    <a class="nav-link" [routerLink]="logged ? '/locations' : '#'" routerLinkActive="active">
      <button mat-raised-button [disabled]="!logged">
        Favorite Locations
      </button>
    </a>
    <a class="nav-link" [routerLink]="logged ? '/general-statistics' : '#'" routerLinkActive="active">
      <button mat-raised-button [disabled]="!logged">
        General Statistics
      </button>
    </a>
    <a class="nav-link" *ngIf="!logged" style="float: right;" routerLinkActive="active">
      <button mat-raised-button (click)="login = true">Login</button>
    </a>
    <a class="nav-link" *ngIf="!logged" style="float: right;" routerLink="/register" routerLinkActive="active">
      <button mat-raised-button>Register</button>
    </a>

    <a class="nav-link" *ngIf="logged" style="float: right;" routerLink="/register" routerLinkActive="active">
      <button mat-raised-button (click)="logout()">Logout</button>
    </a>
  </div>
  <div class="content" *ngIf="!login">
    <router-outlet></router-outlet>
  </div>
  <div class="content" *ngIf="login">
    <app-login (loggedInEventEmitter)="loggedEventHandler($event)"></app-login>
  </div>
</div>
