<div class="app-container">
  <div class="logo">
    <a href="#"><h1>My City - My Places</h1></a>
  </div>
  <div class="nav-bar">
    <a class="nav-link" routerLink="/" routerLinkActive="active">
      <button mat-raised-button>Home</button>
    </a>
    <a class="nav-link" routerLink="/map" routerLinkActive="active">
      <button mat-raised-button>Map</button>
    </a>
    <a class="nav-link" routerLink="/locations" routerLinkActive="active">
      <button mat-raised-button>Favorite Locations</button>
    </a>
    <a class="nav-link" routerLink="/general-statistics" routerLinkActive="active">
      <button mat-raised-button>General Statistics</button>
    </a>
    <a class="nav-link" style="float: right;" routerLink="/login" routerLinkActive="active">
      <button mat-raised-button>Login</button>
    </a>
    <a class="nav-link" style="float: right;" routerLink="/register" routerLinkActive="active">
      <button mat-raised-button>Register</button>
    </a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
