<a routerLink="/" routerLinkActive="active">
  <button mat-raised-button>Home</button>
</a>
<a routerLink="/map" routerLinkActive="active">
  <button mat-raised-button>Map</button>
</a>
<a routerLink="/login" routerLinkActive="active">
  <button mat-raised-button>Login</button>
</a>
<a routerLink="/register" routerLinkActive="active">
  <button mat-raised-button>Register</button>
</a>
<a routerLink="/general-statistics" routerLinkActive="active">
  <button mat-raised-button>General Statistics</button>
</a>
<router-outlet></router-outlet>
