<div *ngIf="!loginBool">
  <p>Please complete the form with your data</p>
  <div>
    <form class="form-control" #register="ngForm" (ngSubmit)="onClickSubmit()">
      <div class="register-grid" style="max-width: 60%; margin: 0 auto">
        <label class="col-form-label col-md-3">Username: </label>
        <input class="col-md-9" placeholder="Please enter your username" name='username'
               [(ngModel)]="registerUser.username">
        <label class="col-form-label col-md-3">First Name: </label>
        <input class="col-md-9" placeholder="Please enter your First Name" name="first_name"
               [(ngModel)]="registerUser.first_name">
        <label class="col-form-label col-md-3">Last Name: </label>
        <input class="col-md-9" placeholder="Please enter your Last Name" name="last_name"
               [(ngModel)]="registerUser.last_name">
        <label class="col-form-label col-md-3">Email: </label>
        <input class="col-md-9" placeholder="Please enter your email" name="email" [(ngModel)]="registerUser.email">
        <label class="col-form-label col-md-3">Password: </label>
        <input class="col-md-9" type="password" [(ngModel)]="registerUser.password" name="password">
        <label class="col-form-label col-md-3">Occupation: </label>
        <input class="col-md-9" placeholder="Please enter your Occupation" name="occuation"
               [(ngModel)]="registerUser.occupation">
        <label class="col-form-label col-md-3">Age: </label>
        <input type="number" class="col-md-9" placeholder="Please enter your Age" name="age"
               [(ngModel)]="registerUser.age">
        <div style="padding-bottom: 30px">
          <button (click)="router.navigate(['/'])">Cancel</button>
          <button type="submit" (click)="router.navigate(['login'])">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
